body {
    font-family: "Source Sans Pro";
    color: #555;
    overflow-x: hidden;
    font-size: 15px;
}

label{
    font-family: "Source Sans Pro";
}
.bg-ika-undip{
    background-color: #11599a;
}
.top-nav{
    background-color: #11599a;
    height: 37px;   
}

.font-size-13-px{
    font-size: 13px;;
}

.right-0{
    right: 0;
}
.bottom-0{
    bottom: 0;
}

.custome-form input{
    height: 25px;
    background-color: transparent;
    color: #fff;
    border: 0;
    font-weight: 200;
}
.custome-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.custome-form input:focus{
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}

.custome-form button{
    height: 25px;
    padding-top: 0px;
    color: #fff;
    border: 0;
    font-weight: 200;
}

#nav-custome .navbar-brand img{
    position: absolute;
    width: 20%;
    left: 42%;
    top: -30px;
}
#navbarSupportedContent .navbar-nav .nav-item{
    width: 190px;
    text-transform: uppercase;
}

.content{
    padding-top: 5em;
}

.box-progress{
    width: 50%;
    margin: auto;
}
.progress {
    margin: 10px auto;
    text-align: center;
    height: 90px;
    background-color: transparent;
    box-shadow: none;
}

.progress .circle,
.progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}

.progress .bar {
    position: relative;
    width: 25%;
    height: 6px;
    top: 17px;
    margin-left: -1px;
    margin-right: -1px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
}

.progress .circle .title {
    color: #b5b5ba;
    font-size: 15px;
    line-height: 1;
    margin-left: -94px;
    margin-top: 53px;
    position: absolute;
    width: 150px;
    /* border: 1px solid; */
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: #eee;
}

.progress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}

.progress .circle.done .label {
    color: #FFF;
    background: #26ae74;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progress .circle.done .title {
    color: #444;
}

.progress .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progress .circle.active .title {
    color: #0c95be;
}

header {
    box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.15);
}

#phone-number .input-group-prepend .input-group-text {
    background-color: #fff;
    border-right: none;
}

#phone-number .input-group .form-control{
    border-left: none;
}
.select2-container{
    display: block !important;
}
.select2-container--default .select2-selection--single{
    height: 38px;
    padding: 4px;
    border: 1px solid #ced4da;
}

.font-sm{
    font-size: 11px;
}
@media(max-width:480px){
    .hidden-xs{
        display: none;
    }
    #navbarSupportedContent .navbar-nav .nav-item{
        width: 100%;
    }
    #nav-custome .navbar-brand img {
        position: absolute;
        width: 25%;
        left: 0;
        top: -1px;
    }
}

.easy-autocomplete {
    width: 100% !important;
}

.easy-autocomplete input{
    width: 100% !important;
}